<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<TITLE>サンプルページ</TITLE>
<meta http-equiv="refresh" content="90;URL=http://alesstest.pythonanywhere.com/taiki/">
</HEAD>
<BODY>
<img src="/media/images/easy.png">
<br>
90秒後にジャンプします。<br>
ジャンプしない場合は、下記のＵＲＬをクリックしてください。<br>
<br>
<a href="http://alesstest.pythonanywhere.com/taiki/">待機ページ</a>
<br>
<script type="text/python" src="static/countdown.py"></script>

</BODY>
</HTML>

<html>
    <body onload="brython()">
　　　　 <script type="text/python" src="static/countdown.py"></script>

        <div id="result"></div>
    </body>
</html>　
